{% extends 'public/layout.html.twig' %}

{% block content %}

	<p class="display-4">Login</p>
	<p class="lead">The access page to the admin sections</p>

	<hr>

	{% if messages is defined %}
		{% for status, message in messages %}

			<div class="alert alert-{{ status }}">

		    	{% for m in message %}
					<span>{{ m }}</span>
		    	{% endfor %}

	    	</div>

		{% endfor %}
	{% endif %}

	<div class="card card-body mb-4">
		<form method="post" action="{{ path_for('access') }}">

			<input
				type="hidden"
				name="{{ csrf['nameKey'] }}"
				value="{{ csrf['name'] }}"
			>
	   		<input
	   			type="hidden"
	   			name="{{ csrf['valueKey'] }}"
	   			value="{{ csrf['value'] }}"
	   		>

			<div class="row">
				<div class="form-group col-sm-6">
					<label for="username">Username</label>
					<input type="text" name="username" class="form-control" required>
				</div>

				<div class="form-group col-sm-6">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control" required>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-block btn-primary">Accedi</button>
			</div>

		</form>
	</div>

	<div class="card card-body">
		<ul class="text-left">
			<li>Username: <code>admin@slimstarterpack.ltd</code></li>
			<li>Password <code>slimstarterpack</code></li>
		</ul>
	</div>

{% endblock %}
